#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                &kp A             &kp BACKSPACE
                       &kp SPACE
                &kp D             &kp E
            >;

        };
    };
};
