*.[Aa][Cc][Oo][Rr][Nn] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Vv][Ii] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Ee][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Mm][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Oo][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ll][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ee][Ii][Cc] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Oo][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp]3 filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp]4 filter=lfs diff=lfs merge=lfs -text
*.[Mm]4[Aa] filter=lfs diff=lfs merge=lfs -text
*.[Mm]4[Vv] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Aa][Rr].[Gg][Zz] filter=lfs diff=lfs merge=lfs -text
*.[Uu][Ss][Dd][Zz] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Oo][Ff][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Oo][Ff][Ff]2 filter=lfs diff=lfs merge=lfs -text
*.[Zz][Ii][Pp] filter=lfs diff=lfs merge=lfs -text
