#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// The &about macro types the firmware identity (device name, version, and
// build number). version.dtsi is not checked in; it is generated at build
// time by scripts/generate-about-macro.sh (run it once before building
// locally).
#include "version.dtsi"

#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {

    behaviors {

        dotqmark: dot_question {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        commaslash: comma_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SLASH";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };

    // Holding both the Lower and Raise thumb keys reveals the hidden adjust
    // layer, which is where the &about macro lives (Raise + Lower + A). This
    // keeps it out of the way during normal typing.
    //
    // For this to work each layer key must be &trans (not &none) on the other
    // layer, so holding one and pressing the other still falls through to the
    // base layer's &mo and activates both layers at once. The modifier
    // positions are &trans on the secondary and tertiary layers for the same
    // reason: so they inherit the base layer's modifiers everywhere.
    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                &kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
                  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp BSPC
                &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
                  &kp LCTRL &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp RET
                    &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &dotqmark  &kp RSHFT
                &kp LCTRL   &mo LOWER   &mo RAISE   &kp LALT    &kp LGUI    &kp SPACE   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
            >;

        };

        lower_layer {

            bindings = <
                &bt BT_SEL 0    &bt BT_SEL 1     &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &none    &none    &none    &none    &none    &bt BT_CLR
                  &none    &none     &none    &none    &none    &none    &none    &none    &none    &none    &none
                &none    &none     &none    &none    &none    &none    &none    &none    &none    &none    &none
                  &trans   &none     &none    &none    &none    &none    &none    &none    &none    &none    &none
                    &trans   &none     &none    &none    &none    &none    &none    &none    &none    &trans
                &trans   &none     &trans    &trans    &trans    &none    &none    &none    &none    &none
            >;

        };

        raise_layer {

            bindings = <
                &kp ESC    &none    &none    &none    &none    &none    &none    &none    &none    &kp F11    &kp F12
                  &kp GRAVE    &none     &none    &none    &none    &none    &none    &none    &kp MINUS    &kp EQUAL    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &kp LBKT    &kp RBKT    &kp BSLH
                  &trans   &none     &none    &none    &none    &none    &none    &none    &kp SEMI    &kp APOS    &none
                    &trans     &none     &none    &none    &none    &none    &kp LT    &kp GT    &commaslash    &trans
                &trans   &trans    &none    &trans    &trans    &kp SPACE    &none    &none    &none    &none
            >;

        };

        adjust_layer {

            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                  &trans    &about    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;

        };

    };
};
